html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.landing-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    background-color: #F7CBA0;
    height: 100vh;
    margin: 0;
    margin-top: -30px;
    margin-bottom: 30px;
    padding: 0; 
    box-sizing: border-box;
    position: relative;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -2px; 
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.logo-section .logo {
    width: 300px;
    height: auto;
    margin-top: -1px
}

.description-section p {
    font-size: 20px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 10px 20px;
    position: relative; 
    z-index: 1; 
    font-weight: 400;
}
.description-section h1{
    font-size: 90px;
}
.button-section {
    position: relative; 
    z-index: 1; 
}

.button-section .register-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-section .register-button:hover {
    background-color: #e74c3c;
}

.right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.right-column .image {
    width: 100%;
    height: auto;
    transform: rotate(-13deg);
    border-radius: 10px;
}

.abstract-section {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    text-align: center;
    z-index: 0; 
}

.abstract-section .abstract-image {
    width: 100%;
    height: auto;
}
@media (max-width: 1122px) {
    .abstract-section{
        display: none; 
    }
}
@media (max-width: 768px) {
    .landing-container {
        grid-template-columns: 1fr; 
        align-items: flex-start; 
        height: auto;
        padding: 10px;
    }

    .left-column {
        padding: 10px;
    }

    .logo-section .logo {
        width: 200px;
        margin-top: 10px; 
    }

    .description-section h1 {
        font-size: 3.7rem;
    }
    .description-section h2 {
        font-size: 3rem;
    }
    .description-section h4 {
        font-size: 2rem;
    }
    .description-section p {
        font-size: 1rem;
        margin-top: 10px; 
    }

    .right-column {
        width: 100%;
        height: auto;
    }

    .abstract-section {
        display: none; 
    }
}



.animate-logo, .animate-heading1, .animate-heading2, .animate-heading3, .animate-paragraph, .animate-button {
    opacity: 0; 
    transform: translateY(20px); 
    animation-duration: 1s;
    animation-fill-mode: forwards; 
  }
  
  @keyframes logoAnimation {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-logo {
    animation-name: logoAnimation;
    animation-delay: 0.5s; 
  }
  
  @keyframes headingAnimation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-heading1 {
    animation-name: headingAnimation;
    animation-delay: 1s; 
  }
  
  .animate-heading2 {
    animation-name: headingAnimation;
    animation-delay: 1.5s; 
  }
  
  .animate-heading3 {
    animation-name: headingAnimation;
    animation-delay: 2s; 
  }

  .animate-paragraph {
    animation-name: headingAnimation;
    animation-delay: 2.5s; 
  }
  
  
  .animate-button {
    animation-name: headingAnimation;
    animation-delay: 3s;
  }
  
  